<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% @posts.all.each do |post| %>
		<p><%= post.name %></p>
		<p><%= post.content %></p>
	<% end%>
</body>
</html>